.products{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#productInfo{
    padding: 10px;
    border:1px solid black
}
#buybtn{
    width: 100px;
    height:25px;
    font-size: large;
    border-radius:2px ;
    background-color: white;
    align-items: center;
    text-align: center;
}
#buybtn:hover{
    background-color: black;
    color: white;
}